@import 'reset';

section {
	width: 100%;
	height: 50vh;
	background: #000;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	color: #fff;
}
